# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build output
build/

# Ignore test output
coverage/

# Ignore any .DS_Store files
.DS_Store

# Ignore .idea directory created by IntelliJ IDEA
.idea/

# Ignore .vscode directory created by Visual Studio Code
.vscode/